<h3>Full info about "{{movie?.Title}}"</h3>

<table class="result-table result-table--full">
  <tr>
    <td>Title</td>
    <td>{{movie?.Title}}</td>
  </tr>
  <tr>
    <td>Year</td>
    <td>{{movie?.Year}}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>{{movie?.Country}}</td>
  </tr>
  <tr>
    <td>Poster</td>
    <td><img src="{{movie?.Poster}}" alt="Poster of {{movie?.Title}}"></td>
  </tr>
  <tr>
    <td>Rating (Votes)</td>
    <td>{{movie?.imdbRating}} ({{movie?.imdbVotes}})</td>
  </tr>
</table>
